$white: #ffffff;
$black: #000000;
$darkgray: #3e4242;
$gray:#72767a;
$lightgray:#bebebe;

$transition:all .5s ease;

@font-face {
  font-family: 'GothamMedium';
  src: url("../fonts/GothamMedium.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook.ttf"); /* IE9 Compat Modes */
}

$font-size: 16;
$max-width: 1200px;

//MEDIAS
$max: 1600px;
$lap: 1400px;
$lg: 1200px;
$md: 850px;
$sm: 580px;
$xs: 400px;

//FUNCTIONS
@function pxtorem($px) {
  @return #{$px/$font-size}rem;
}

@function col($n, $t: 18) {
  @return #{(($n * 100) / $t)}#{"%"};
}

@mixin h1($color: initial, $scale: 1) {
  font-family: 'GothamBook', serif;
  font-size: pxtorem(40 * $scale);
  
  color: $color;
  margin-bottom: 1rem;
  font-weight: normal;
  @media screen and (max-width: $lap) {
    font-size: pxtorem(30 * $scale);
  }
  @media screen and (max-width: $md) {
    font-size: pxtorem(28 * $scale);
  }
  @media screen and (max-width: $sm) {
    font-size: pxtorem(24 * $scale);
  }
}

h1 {
  @include h1($darkgray,1);
  text-transform: uppercase;
}

@mixin h2($color: initial, $scale: 1) {
  font-family: 'GothamBook', serif;
  font-size: pxtorem(40 * $scale);
  margin-bottom: 1rem;
  color: $color;
 
  font-weight: normal;
  @media screen and (max-width: $lap) {
    font-size: pxtorem(30 * $scale);
  }
  @media screen and (max-width: $md) {
    font-size: pxtorem(28 * $scale);
  }
  @media screen and (max-width: $sm) {
    font-size: pxtorem(24 * $scale);
  }
}

h2 {
  @include h2($darkgray,1);
}

@mixin h3($color: initial, $scale: 1) {
  font-family: 'GothamBook', serif;
  font-size: pxtorem(18 * $scale);
  color: $color;
  margin: 0;
  font-weight: normal;

  @media screen and (max-width: $md) {
    font-size: pxtorem(28 * $scale);
  }
  @media screen and (max-width: $sm) {
    font-size: pxtorem(24 * $scale);
  }
}

h3 {
  @include h3($darkgray,1);
}

@mixin p($color: initial, $scale: 1) {
  font-family: 'GothamBook';
  font-size: pxtorem(16 * $scale);
  color: $color;
  margin: 0;
  font-weight: normal;
  line-height: 2;
  @media screen and (max-width: $md) {
    font-size: pxtorem(16 * $scale);
  }
}

p {
  @include p($darkgray,1);
}

@mixin button($bg) {
  background: $darkgray;
  font-family: "Raleway";
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
  width: 200px;
  padding: 10px;
  margin: 25px auto;
  cursor: pointer;
  display: block;
  text-align: center;
  &:hover {
    background: darken;
    transition: all 0.3s ease;
  }
}

.button {
  @include button($darkgray);
}

a {
  text-decoration: none;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  margin: 0;
  position: relative;
}

#mouse-circle {
  position: absolute;
  z-index: 9999;
  width: 16px;
  height: 16px;
  background-color: $black;
  margin: -8px 0px 0px -8px;
  border: 1px solid #000000;
  border-radius: 50%;
  pointer-events: none !important;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0);
  transition: width .5s ease, height .5s ease,background-color .5s ease;
  &.link-grow{
    width: 32px;
    height: 32px;
    margin: -16px 0px 0px -16px;
    background-color: transparent;
    border: 1px solid #000000;
    transition: transform .5s ease;
    transition: width .5s ease, height .5s ease,background-color .5s ease;
  }
}

.vertical-margin{
  display: block;
  width: 100%;
  height: 111px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: col(18);
  padding:0 col(1);
  border-bottom: solid 1px $lightgray;
  //background-color: #eee;
  background-color: white;
  &.scrolldown{
    transform: translateY(0);
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $max-width;
    margin:auto;
    height: 90px;
    .left {
      .logo {
        width: 100px;
      }
    }
    .center{
      display: flex;
      p{
        @include p($darkgray,1);
        margin: 0 15px;
      }
    }
  }

}

.responsivemenu {
  display: none;
  @media screen and (max-width: $md) {
    display: block;
  }
}

.opening{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    transition: $transition;
    &:hover{
      transform: scale(1.5);
      transition: $transition;
    }
  }
}

.section1 {
  max-width: $max-width;
  margin: auto;
  padding: 50px 0 50px 0;

  p{
    @include p($darkgray,1);
  }
  .slider{

    a.info{
      padding: 25px;
      width: 350px;
      height: 130px;
      border: 1px solid $lightgray;
      position: absolute;
      right: 0;
      bottom: 4px;
      background-color: $white;
      h3{
        color: $black;
      }
      .pagination{
          @include p ($lightgray,.8)
      }
    }

  }
}

.proyectos{
  width: col(18);
  padding: 0 col(1) col(1) col(1);
  h1{
    margin-bottom: 50px;
    text-align: center;
  }
  .grid{
    display: grid;
    max-width: $max-width;
    margin: auto;
    gap:25px;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
  }
  .item{
    //width: 325px;
    //height: 325px;
    img{
      object-fit: cover;
      transition: $transition;
    }
    &:hover{
      img{
        transition: $transition;
        transform: scale(1.1)!important;
      }
    }
  }
}

.casadetail{
  width: col(18);
  padding: col(1);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
  background-color: #ffffff;
}

.casa-header{
  width: col(18);
  padding: col(1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  .title{
    display: flex;
    align-items: center;
    flex-direction: column;
    .line{
      margin-top: 15px;
      width: 1px;
      height: 150px;
      background-color: $black;
    }
  }
  img{
    margin-top: -50px;
    z-index: -1;
  }
}

.detail-grid{
  width: col(16);
  margin: 0 auto 25px;
  max-width: 1200px;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3,1fr);

  &.planos{
    >div{
      border: 1px solid $lightgray;
    }
  }
  .a{
    grid-row:1/3;
    &.inverted{
      grid-column: 2/3;
    }
  }
 .d{
   grid-column:1/3;
 }
  >div{
    width: 100%;
    justify-self: center;
    align-self: center;
    img{
      &.contain{
        object-fit: contain;
      }
    }
  }
  img.large{
    width: 100%;
    height: 750px;
    object-fit: cover;
  }
  img.short{
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}

.detail-grid__x3{
  width: col(16);
  margin: 0 auto 25px;
  max-width: 1200px;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2,1fr);
  &.planos{
    >div{
      border: 1px solid $lightgray;
    }
  }
  .a{
    grid-row:1/3;
    &.inverted{
      grid-column: 2/3;
    }
  }
  >div{
    width: 100%;
    justify-self: center;
    align-self: center;
    img{
      &.contain{
        object-fit: contain;
      }
    }
  }
  img.large{
    width: 100%;
    height: 750px;
    object-fit: cover;
  }
  img.short{
    width: 100%;
    height: 350px;
    object-fit: cover;
    
  }
}

.detail-grid-horizontal{
  width: col(16);
  margin: 0 auto 25px;
  max-width: 1200px;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1,1fr);
  &.planos{
    >div{
      border: 1px solid $lightgray;
    }
  }
  >div{
    width: 100%; 
    justify-self: center;
    align-self: center;
    
  }
  img.large{
    width: 100%;
    height: 750px;
    object-fit: cover;
  }
  img.short{
    width: 100%;
    height: 350px;
    object-fit: cover;
    
  }
}

.detail-grid-vertical{
  width: col(16);
  margin: 0 auto 25px;
  max-width: 1200px;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2,1fr);
  &.planos{
    >div{
      border: 1px solid $lightgray;
    }
  }
  >div{
    width: 100%; 
    justify-self: center;
    align-self: center;
    img{
      &.contain{
        object-fit: contain;
      }
    }
  }
  .a{
    grid-row:1/3;
  }
  .b{
    grid-row:1/3;
  }
  img.large{
    width: 100%;
    height: 750px;
    object-fit: cover;
  }
  img.short{
    width: 100%;
    height: 350px;
    object-fit: cover;
    
  }
}

.detail-info{
  width: col(9);
  margin: auto;
  padding: 0 col(1) col(1) col(1);
  h3{
    color: gray;
    text-align: center;
    margin-bottom: 25px;
  }
  >div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $lightgray;
    margin-bottom: 15px;
    padding-bottom: 15px;
    &:nth-last-of-type(1){
      border-bottom: none;
    }
  }
}

.contacto{
  max-width: $max-width;
  margin: auto;
  height: 90vh;
  h1{
    text-align: center;
    margin-bottom: 50px;
  }
  .cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .left{
      width: 50%;
    }
    .right{
      form{
        .row{
          display: flex;
          >div{
            display: flex;flex-direction: column;
            margin-right: 15px;
            label{
              margin-bottom: 15px;
            }
          }
          &:last-of-type{
              >div{
                width: 100%;
              }
              margin-bottom: 15px;
          }
        }

        label{
          font-family: 'GothamBook';
        }
        input{
          width: 250px;
        }
      }
    }
  }
}

.concursos{
  margin: auto;
  max-width: $max-width;
  h1{
    text-align: center;
    margin-bottom: 50px;
  }
  .cont{
    display: flex;
    justify-content: space-between;
    .left{
      width: 50%;
    }
    .right{
      width: 50%;
      padding-left: 45px;
      p{
        margin-bottom: 25px;
      }
    }
  }
}

.nosotros{
  margin: auto;
  max-width: $max-width;
  h1{
    text-align: center;
    margin-bottom: 25px;
  }
  .cont{
    display: flex;
    justify-content: space-between;
    .left{
      width: 50%;
      position: relative;
      canvas {
        position: absolute;
        width: 100%!important;
        height: 100%!important;
      }
    }
    .right{
      width: 50%;
      padding-left: 45px;
      p{
        margin-bottom: 25px;
      }
    }
  }
}

.inmobiliaria{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer{
  width: col(16);
  margin:25px col(1);
  background-color: $white;
  border-top:1px solid $lightgray;
  .cont{
    max-width: $max-width;
    margin: auto;
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $md) {
      flex-direction: column;
      >div{
        margin-bottom: 15px;
      }
    }
    .social{
      display: flex;
      >a{
        margin: 0 15px;
        transition: $transition;
        &:hover{
          transform: scale(1.1);
          transition: $transition;
        }
        .fb{
          width: 15px;
        }
        .insta{
          width: 22px;
        }
      }
      img{
        width: 25px;
      }
    }
  }
  p{
    @include p($darkgray,.9);
  }
}

.wp{
  width: 30px;
  position: fixed;
  right: col(1);
  bottom: 40%;
  transition: $transition;
  &:hover{
    transform: scale(1.1);
    transition: $transition;
  }
}

@keyframes cortina {
  from {

    transform: scaleY(1);
  }
  to {

    transform: scaleY(0);
  }
}

@keyframes opacity {
  from {

    opacity: 0;
  }
  to {

    opacity: 1;
  }
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #a7a7a7;
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 9999;
  pointer-events: none;
}